{% extends 'layout.html' %}
{% load static %}
  {% block content %}

  <!-- Hero section-->
  <section class="bg-position-top-center bg-repeat-0 pt-5 pb-5 py-md-10 tns-carousel tns-controls-lg" style="background-image: url('{% static 'img/landingPhoto.jpg'%}');">
    <div class="container pt-4 mb-3 mb-lg-0">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-8 offset-lg-1">
          <h1 class="text-light mb-5">You can change <br>the life of the greatest <br> artists of Mexico</h1>
          <p class="fs-lg text-light pb-3 from-start delay-2">50% of the sales go to the masters. <br>To know more about our project click in the botton</p>
          <div class="d-flex align-items-center mb-5"><a class="btn btn-primary me-grid-gutter" href="{% url 'core:about' %}">Click here!</a></div>
        </div>
      </div>
    </div>
  </section>

    <div class="container-fluid">

      <div class="row">
        <div class="col-12 py-4 p-xl-5">

          <h3 class="mb-4">The greatest artesans of Mexico</h3>
          <hr class="my-4">


          <!-- Products grid-->
          <div class="row pt-3 mx-n2">
            {% for item in items %}

            <!-- Product-->
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 px-2 mb-4" data-marker-id="{{ item.id }}">
              <div class="card product-card" >
                <a class="card-img-top d-block overflow-hidden" href="/artist?artist_id={{ item.artist.id }}&&item_id={{ item.id }}"><img class="center" src="{{ item.itemPhotoComplete.url }}" alt="Product"></a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="/artist?artist_id={{ item.artist.id }}&&item_id={{ item.id }}">by {{ item.artist }}</a>

                  <a href="/artist?artist_id={{ item.artist.id }}&&item_id={{ item.id }}">
                  <h3 class="product-title fs-sm">{{ item.title }}</h3>
                  <div class="d-flex justify-content-between">
                    <div class="product-price"><span class="text-primary">{{ item.hours }} hours worked</span><br><span class="text-secondary">${{ item.price }}</span></div>

                  </div>
                  </a>
                  </div>
                </div>

              </div>

            {% endfor %}
          </div>

          <!-- Pagination -->
          <div class="pagination footers">
            <span class="step-links w-100 text-center">
            {% if items.has_previous %}
            <a href="?page=1">&laquo; Back</a>
            <a href="?page={{ items.previous_page_number }}">Back</a>
            {% endif %} <span class="current"> Page {{ items.number }} out of {{ items.paginator.num_pages }} </span>
            {% if items.has_next %} <a href="?page={{ items.next_page_number }}">Next</a>
            <a href="?page={{ items.paginator.num_pages }}">Last &raquo;</a> {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>


  {% endblock %}
