{% extends 'layout.html' %}
{% load static %}
  {% block content %}
  <!-- Body-->
  <body class="handheld-toolbar-enabled">


    <!-- Page Title-->
    <div class="page-title-overlap bg-light pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-dark mb-0">Your cart</h1>
        </div>
      </div>
    </div>


    <div class="container mb-5 pb-3">
      <div class="bg-light shadow-lg rounded-3 overflow-hidden">
        <div class="row" style="margin-bottom: 20px;"">
          <!-- Content-->
          <section class="col-lg-8 pt-2 pt-lg-4 pb-4 mb-3">
            <div class="pt-2 px-4 pe-lg-0 ps-xl-5">
              {% if errors %}
              <div class="alert alert-primary d-flex" role="alert">
                <div class="alert-icon">
                  <i class="ci-bell"></i>
                </div>
                <div>{{errors}}</div>
              </div>
              {% endif %}
              <!-- Title-->
              <h2 class="h6 border-bottom pb-3 mb-3">Billing details</h2>

              <!-- Order preview on mobile (screens small than 991px)-->
              <div class="widget mb-3 d-lg-none">
                <h2 class="widget-title text-center">Shipping Details</h2>
                <div class="d-flex align-items-center pb-2 border-bottom">
                  <div class="ps-1">
                    <div class="d-flex justify-content-between align-items-center">{{ shippingaddress }}</div>
                    <a href="/shipping?id={{ shippingaddress.id }}">Change address</a>
                  </div>
                </div>
                <h2 class="widget-title text-center">Order summary</h2>
                {%for item in items%}
                <div class="d-flex align-items-center pb-2 border-bottom"><a class="d-block flex-shrink-0 me-2" href="/artist?artist_id={{ item.artist.id }}&&item_id={{ item.id }}"><img class="rounded-1" src="{{ item.item.itemPhotoComplete.url }}" width="64" alt="Product"></a>
                  <div class="ps-1">
                    <h6 class="widget-product-title"><a href="/artist?artist_id={{ item.artist.id }}&&item_id={{ item.id }}">{{ item.item.title }}</a></h6>
                    <div class="widget-product-meta"><span class="border-end pe-2 me-2">$ {{ item.item.price }} X ({{ item.quantityByItems }}) </div>
                  </div>
                </div>
                {%endfor%}
                <ul class="list-unstyled fs-sm py-3">
                  <li class="d-flex justify-content-between align-items-center fs-base"><span class="me-2">Total:</span><span class="text-end">$ {{ car.total }}</span></li>
                </ul>
              </div>
              <!-- Payment methods accordion-->
              <div class="accordion mb-2" id="payment-method" role="tablist">
                <div class="accordion-item">
                  <h3 class="accordion-header credit-card">Pay with Credit Card</h3>

                  <div class="accordion-collapse collapse show" id="card" data-bs-parent="#payment-method" role="tabpanel">
                    <div class="accordion-body">

                      <p class="fs-sm">We accept following credit cards:&nbsp;&nbsp;<img class="d-inline-block align-middle" src="{% static 'cartzilla/img/cards.png' %}" style="width: 187px;" alt="Cerdit Cards"></p>
                      <div class="credit-card-wrapper"></div>
                      <form  method="POST" class="credit-card-form row g-3">
                        {% csrf_token %}
                        <div class="col-sm-6">
                          {{ form.card_number }}
                        </div>
                        <div class="col-sm-6">
                          {{ form.holder_name }}
                        </div>
                        <div class="col-sm-2 col-6">
                          {{ form.expiration_month }}
                        </div>
                        <div class="col-sm-2 col-6">
                          {{ form.expiration_year }}
                        </div>
                        <div class="col-sm-2 col-6">
                          {{ form.cvc }}
                        </div>
                        <div class="col-sm-6">
                          <button class="btn btn-primary d-block w-100" type="submit">Place order</button>
                        </div>
                      </form>

                    </div>
                  </div>

                </div>


              </div>
            </div>
          </section>
          <!-- Sidebar-->
          <!-- Order preview on desktop (screens larger than 991px)-->
          <aside class="col-lg-4 d-none d-lg-block ps-xl-5">

            <hr class="d-lg-none">
            <div class="p-4 h-100 ms-auto border-start">
              <div class="widget px-lg-2 py-2 mb-3">
                <h2 class="widget-title text-center">Shipping Details</h2>
                <div class="d-flex align-items-center pb-2">
                  <div class="ps-1">
                    <div class="d-flex justify-content-between align-items-center">Address: {{ shippingaddress.street_address }}, {{ shippingaddress.city }}, {{ shippingaddress.state }}, {{ shippingaddress.shipping_zip }}, {{ shippingaddress.country }}  <br> Phone: {{ shippingaddress.shipping_zip }} <br> Instructions: {{ shippingaddress.instructions }} <br> Reciever: {{ shippingaddress.holder_name}}</div>
                    <a href="/shipping?id={{ shippingaddress.id }}">Change address</a>
                  </div>
                </div>

                <h2 class="widget-title text-center">Order summary</h2>
                {%for item in items%}
                <div class="d-flex align-items-center pb-2 border-bottom"><a class="d-block flex-shrink-0 me-2" href="/artist?artist_id={{ item.artist.id }}&&item_id={{ item.id }}"><img class="rounded-1" src="{{ item.item.itemPhotoComplete.url }}" width="64" alt="Product"></a>
                  <div class="ps-1">
                    <h6 class="widget-product-title"><a href="/artist?artist_id={{ item.artist.id }}&&item_id={{ item.id }}">{{ item.item.title }}</a></h6>
                    <div class="widget-product-meta"><span class="pe-2 me-2">$ {{ item.item.price }} X ({{ item.quantityByItems }})</span></div>
                  </div>
                </div>
                {%endfor%}
                <ul class="list-unstyled fs-sm pt-3 pb-2 border-bottom">
                  <li class="d-flex justify-content-between align-items-center"><span class="me-2">Total:</span><span class="text-end">{{ car.total }}</span></li>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </div>



    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'cartzilla/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'cartzilla/vendor/simplebar/dist/simplebar.min.js' %}"></script>
    <script src="{% static 'cartzilla/vendor/tiny-slider/dist/min/tiny-slider.js' %}"></script>
    <script src="{% static 'cartzilla/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
    <!-- Main theme script-->
    <script src="{% static 'cartzilla/js/theme.min.js' %}"></script>

  </body>
  {% endblock %}

  {%block js%}
  <script src="{%static '/js/shop-cart.js'%}"></script>
  {%endblock%}
