{% extends 'layout.html' %}
{% load static %}
  {% block content %}
  <!-- Body-->
  <body class="handheld-toolbar-enabled">


    <!-- Page Title-->
    <div class="page-title-overlap bg-light pt-4">
      <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
        <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
          <h1 class="h3 text-dark mb-0">Your cart</h1>
        </div>
      </div>
    </div>


    <div class="container pb-5 mb-2 mb-md-4" >
      <div class="row" style="margin-bottom: 157px;">
        <!-- List of items-->
        <section class="col-lg-8">
          <div class="d-flex justify-content-between align-items-center pt-3 pb-4 pb-sm-5 mt-1">
            <h2 class="h6 text-dark mb-0">Products</h2><a class="btn btn-outline-primary btn-sm ps-2" href="{% url 'core:index' %}"><i class="ci-arrow-left me-2"></i>Continue shopping</a>
          </div>
          {%for item in items%}
          <!-- Item-->
          <div class="d-sm-flex justify-content-between align-items-center my-2 pb-3 border-bottom">
            <div class="d-block d-sm-flex align-items-center text-center text-sm-start"><a class="d-inline-block flex-shrink-0 mx-auto me-sm-4" href="/item/{{ item.item.id }}"><img src="{{ item.item.itemPhotoComplete.url }}" width="160" alt="Product"></a>
              <div class="pt-2">

                <h3 class="product-title fs-base mb-2"><a href="/item/{{ item.item.id }}">{{ item.item.title }}</a></h3>
                <div class="fs-sm"><span class="text-muted me-2">Size:</span>8.5</div>
                <div class="fs-sm"><span class="text-muted me-2">Color:</span>White &amp; Blue</div>
                <div class="fs-lg text-accent pt-2">$<span class="itemPrice">{{ item.item.price }}</span></div>
              </div>
            </div>
            <div class="pt-2 pt-sm-0 ps-sm-3 mx-auto mx-sm-0 text-center text-sm-start" style="max-width: 9rem;">
              <label class="form-label" for="quantity1">Quantity</label>
              <input type="hidden" class="id_item" value="{{item.item.id}}">
              <input class="form-control quantity" type="number" id="quantity1" min="1" value="{{ item.quantityByItems }}">
              <button class="btn btn-link px-0 text-danger identifybotton remove" type="button"><i class="ci-close-circle me-2"></i><span class="fs-sm">Remove</span></button>
            </div>
          </div>
          {%endfor%}
        </section>
        <!-- Sidebar-->
        <aside class="col-lg-4 pt-4 pt-lg-0 ps-xl-5">
          <div class="bg-white rounded-3 shadow-lg p-4">
            <div class="py-2 px-xl-2">
              <div class="text-center mb-4 pb-3 border-bottom">
                <h2 class="h6 mb-3 pb-1">Subtotal</h2>
                <h3 class="fw-normal" id="totalMoney">$ {{ car.total }}</h3>
              </div>
              <a class="btn btn-primary btn-shadow d-block w-100 mt-4" href="{% url 'core:payment' %}"><i class="ci-card fs-lg me-2"></i>Proceed to Checkout</a>
            </div>
          </div>
        </aside>
      </div>
    </div>



    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll><span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span><i class="btn-scroll-top-icon ci-arrow-up">   </i></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'cartzilla/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'cartzilla/vendor/simplebar/dist/simplebar.min.js' %}"></script>
    <script src="{% static 'cartzilla/vendor/tiny-slider/dist/min/tiny-slider.js' %}"></script>
    <script src="{% static 'cartzilla/vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
    <!-- Main theme script-->
    <script src="{% static 'cartzilla/js/theme.min.js' %}"></script>

  </body>
  {% endblock %}

  {%block js%}
  <script src="{%static '/js/shop-cart.js'%}"></script>
  {%endblock%}
