{% extends 'layout.html' %}
{% load static %}
  {% block content %}


    <div class="container-fluid">

      <div class="row" style="margin-bottom: 90px;">
        <div class="col-12 py-4 p-xl-5">

          <h3 class="mb-4">{{ subobj }} </h3>
          <hr class="my-4">


          <!-- Products grid-->
          <div class="row pt-3 mx-n2">
            {% for item in items %}

            <!-- Product-->
            <div class="col-lg-3 col-md-4 col-sm-6 col-6 px-2 mb-4" data-marker-id="{{ item.id }}">
              <div class="card product-card" >
                <a class="card-img-top d-block overflow-hidden" href="/artist?artist_id={{ item.artist.id }}&&item_id={{ item.id }}"><img class="center" src="{{ item.itemPhotoComplete.url }}" alt="Product"></a>
                <div class="card-body py-2"><a class="product-meta d-block fs-xs pb-1" href="/artist?artist_id={{ item.artist.id }}&&item_id={{ item.id }}">by {{ item.artist }}</a>
                  <h3 class="product-title fs-sm"><a href="/artist?artist_id={{ item.artist.id }}&&item_id={{ item.id }}">{{ item.title }}</a></h3>

                  <div class="d-flex justify-content-between">
                    <div class="product-price"><span class="text-primary">{{ item.hours }} hours spent on this masterpiece</span> <br>${{ item.price }}</div>
                    </div>
                  </div>
                </div>

              </div>

            {% endfor %}
          </div>

          <!-- Pagination -->
          <div class="pagination footers">
            <span class="step-links w-100 text-center">
            {% if items.has_previous %}
            <a href="?page=1">&laquo; Back</a>
            <a href="?page={{ items.previous_page_number }}">Back</a>
            {% endif %} <span class="current"> Page {{ items.number }} out of {{ items.paginator.num_pages }} </span>
            {% if items.has_next %} <a href="?page={{ items.next_page_number }}">Next</a>
            <a href="?page={{ items.paginator.num_pages }}">Last &raquo;</a> {% endif %}
            </span>
          </div>
        </div>
      </div>
    </div>


  {% endblock %}
